.single-movie-container {
 
  .movie-poster-block {
    height: 100%;
    width: 16vw;
    margin-right: 10px;
    // border-radius: 8px;
    overflow: hidden;
    .poster-img {
      height: 100%;
      width: 100%;
      object-fit: contain;
      transition: transform 0.6s;
    }
    .poster-img:hover {
      transform: scale(1.08);
    }
  }
}
