.banner-container {
  height: 100%;
  width: 100%;
  position: relative;
  .banner-img {
    height: 100%;
    width: 100%;
    background-position: top center;
    background-attachment: fixed;
    background-size: cover;
    object-fit: contain;
  }
  .banner-content {
    position: absolute;
    top: 0;
    margin-top: 15%;
    margin-left: 35px;
    // background-color: yellowgreen;
    h1 {
      font-size: 5.5vw;
      font-weight: 500;
      color: white;
    }
    .buttons {
      margin-top: 2%;
      span {
        color: white;
        font-weight: 500;
        margin-right: 1rem;
        // background-color: #42e222;
        background-color: #27191e5d;
        border-radius: 0.4vw;
        line-height: 10px;
        padding: 0.8% 2.5%;
        &:hover {
          color: black;
          background-color: #e4e8f5;
          font-weight: 500;
        }
      }
    }
    .description{
      width: 50%;
      // max-width: 450px;
      height: auto;
      padding: 5px;
   
      // background-color: yellowgreen;
      p{
        color: white;
        margin-top: 5%;
        font-size: 1.6vw;
        line-height: 1.3;
      }
    }
  }
}
